- breadcrumb :payments
%table#students.table.table-condensed{"data-source": students_datatable_url(format: "json") }
  %thead
    %tr
      %th= t('student.columns.first_name')
      %th= t('student.columns.last_name')
      %th= 'payments'
  %tbody
